{% extends 'pages/base.jinja'%}

{% block title %} 
    flask demo -- not found
{% endblock %}

{% block content %} 
    <section>
        <h2> sorry cant find the page for you  </h2> 
  </section>
{% endblock %}

