{% extends 'pages/base.jinja'%}

{% block title %} 
    flask demo
{% endblock %}

{% block content %} 
    <section id="hero">
    <h1> hello!!!</h1> 
    <p>Octopuses are some of the most fascinating creatures in the ocean, known for their intelligence, camouflage abilities, and unique physiology. Unlike most animals, they have three hearts—two pump blood to the gills, while the third sends it to the rest of the body. Their blue blood, which contains copper-based hemocyanin, helps them survive in deep, cold waters. Even more impressive is their ability to change color and texture in the blink of an eye, allowing them to blend seamlessly into their surroundings or communicate with other octopuses. Despite having no bones, they’re incredibly strong and can squeeze through the tiniest cracks, making them skilled escape artists in both the wild and captivity.</p>
   </section>
{% endblock %}

