{% extends 'pages/base.jinja'%}

{% block title %} 
    flask demo - random number
{% endblock %}

{% block content %} 
    <section>
    <h2> here is a lovely random number</h2>
    
        <article id="rand-num">
        
        {{number}}
        
       </article>
    </section>
{% endblock %}

