{% extends 'pages/base.jinja'%}

{% block title %} 
    flask demo -- test
{% endblock %}

{% block content %} 
    <section id="hero">
    <h1> testing flask and jinja</h1> 
   </section>
{% endblock %}

